<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <springProperty scope="context" name="APP" source="spring.application.name" defaultValue="app"/>
  <springProperty scope="context" name="ENV" source="APP_ENV" defaultValue="dev"/>
  <include resource="logback-common.xml"/>
</configuration>